####default.cfg

[TaskManager]
loginServerAddress=93.90.205.211
clusterName=swg-talon-online

[dbProcess]
DSN=//93.90.205.211/swg
databaseUID=swg

[LoginServer]
DSN=//93.90.205.211/swg
databaseUID=swg
developmentMode=true

[CentralServer]
developmentMode=true

[GameServer]
adminGodToAll=0
