####default.cfg

[TaskManager]
loginServerAddress=15.204.254.253
clusterName=SWG-Returns

[dbProcess]
DSN=//127.0.0.1/swg
databaseUID=swg

[LoginServer]
DSN=//127.0.0.1/swg
databaseUID=swg
developmentMode=true

[CentralServer]
developmentMode=true

[GameServer]
adminGodToAll=1
