####default.cfg

[TaskManager]
loginServerAddress=15.204.254.253
clusterName=swg-talon-online-TC

[dbProcess]
DSN=//93.90.205.211/swg
databaseUID=swg

[LoginServer]
DSN=//93.90.205.211/swg
databaseUID=swg
developmentMode=true

[CentralServer]
developmentMode=true

[GameServer]
adminGodToAll=0
